.opened {
  height: 300px;
  width: 1200px;
  overflow: hidden;
  position: relative;
}

.opening {
  width: 1200px;
  overflow: hidden;
  position: relative;
  animation-name: opening;
  animation-duration: .6s;
}

.opening>a>img {
  position: relative;
  animation-name: openingI;
  animation-duration: .6s;
}

@keyframes opening {
  from {
      height: 80px;
  }
  to {
      height: 300px;
  }
}

@keyframes openingI {
  from {
      top: -300px;
  }
  to {
      top: 00px;
  }
}

.closed {
  height: 80px;
  width: 1200px;
  overflow: hidden;
  position: relative;
}

.closed>a>img {
  position: relative;
  top: -300px;
}

.closing{
  width: 1200px;
  overflow: hidden;
  position: relative;
  animation-name: closingB;
  animation-duration: .6s;
}

.closing>a>img {
  position: relative;
  animation-name: closingI;
  animation-duration: .6s;
}

@keyframes closingB{
  from {
      height: 300px;
  }
  to {
      height: 80px;
  }
}

@keyframes closingI{
  from {
      top: 0px;
  }
  to {
      top: -300px;
  }
}

.btn {
  font-size: 13px;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 2px 2px 2px 8px;
  color: #a3a3a3;
  background-color: rgba(0,0,0,.8);
  border-radius: 3px 0 0 0;
  user-select: none;
  cursor: pointer;
}

.btn::after{
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  margin: 2px;
  border-style: solid;
  border-width: 0 3px 3px;
  border-color: transparent transparent #a3a3a3;
}

.btn.changed::after{
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  margin: 2px;
  border-style: solid;
  border-width: 3px 3px 0;
  border-color: #a3a3a3 transparent transparent ;
}